*.class
*.txt
.classpath
.project
bin/
.settings/
screenshots/
saves/
saved.png
.gradle/
build.gradle
build/
libs/
.vim.custom
*.swp

# Package Files #
*.jar
*.war
*.ear

*.ccf

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
